/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo creme */
body {
    background-color: #ffffdf; /* Cor creme */
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d5cfd555c;
    z-index: 1000;
}

/* Logo maior e posicionado no canto superior esquerdo */
.logo {
    width: 300px; /* Logo grande */
    height:auto;
    margin-left:4px
    margin-right:18px
    
    
}

/* Menu de navegação no lado direito */
nav {
    margin-r: auto;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 25px;
    height:455px
}

.menu li {
    display: inline;
}

.menu li a {
    text-deco]
    ration: none;
    color: #484848;
    font-size: 15px;
    font-weight: italic;
}

.menu li a:hover {
    color: #007BF;
}

/* Texto principal */
main {
    padding: 124px 20px 20px; /* Espaço extra no topo para o cabeçalho fixo */
    text-align: left;
    margin-top: 35px;
     margin-left:300px;
    font-size:50px;
}

/* Introdução alinhada à direita */
.introducao {
    text-align: ;
    margin-top: 25px;
  
}

/* Estilo para o título */
h1 {
    font-size: 35px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #555;
}

/* Rodapé */
footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

footer ul li a:hover {
    text-decoration: underline;
}
